body
{
  background-image: url("picture/background.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.title
{
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
}

.game
{
  position: absolute;
  left: 45%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}
.graves
{
  position: absolute;
  left: 55%;
  top: 60%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
}
.graves:hover
{
  font-size: 27px;
}

.online_snake_and_seed
{
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}
.online_snake_and_seed:hover
{
  font-size: 28px;
}
