body
{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}

.title
{
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
}

.game
{
  position: absolute;
  left: 40%;
  top: 55%;
  font-size: 24px;
  color: white;
}
.graves
{
  position: absolute;
  left: 50%;
  top: 58.3%;
  color: white;
  font-size: 24px;
}
